<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <h1>Data sent successfully✅</h1>
    <% info.forEach(function(ele){ %>
        <br> <br>
        job_place: <%= ele.name %>
            <br>
            job_salary: <%= ele.email %>
                <br>
                job_designation: <%= ele.mobile_no %>
                    <br>
                    description:<%= ele.email_sub %>
                        <br>
                        description:<%= ele.message %>
                        <br>
<% }) %>

</body>
</html>